@model List<CarRental.Models.Car>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Registration | @Html.ActionLink("info", "details", new { Registration=item.Registration})</li>
    }
</ul>
